*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('img5.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}


    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
  gap: 90px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


.card1 {
 --background: linear-gradient(to left, #f50202 0%, #f51773 100%);
 width: 900px;
 height: 400px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: rgba(0, 0, 0, 0.5);
 
 position: relative;
 z-index: 1;
 margin-top: 80px;
 margin-left: 200px;

}

.card1::after {
 position: absolute;
 content: "";
 top: 30px;
 left: 0;
 right: 0;
 z-index: -1;
 height: 100%;
 width: 100%;
 transform: scale(0.8);
 filter: blur(25px);
 background: #f7ba2b;
 background: var(--background);
 transition: opacity .7s;
}

.card-info {
 --color:rgba(10, 9, 9, 0.8);

 justify-items: center;
  align-items: center;
 width: 100%;
 height: 100%;
 overflow: visible;
 border-radius: .7rem;
}
h1{
  margin-bottom: 70px;
}

.card1 .title {
 font-weight: bold;
 letter-spacing: .1em;
}


.card1:hover::after {
 opacity: 0;
}

.card1:hover .card-info {
 color: #f80864;
 transition: color 1s;
}
.card2 {
 --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
 width: 900px;
 height: 400px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: rgba(0, 0, 0, 0.5);
 
 position: relative;
 z-index: 1;
 margin-top: 80px;
 margin-left: 200px;
}

.card2::after {
 position: absolute;
 content: "";
 top: 30px;
 left: 0;
 right: 0;
 z-index: -1;
 height: 100%;
 width: 100%;
 transform: scale(0.8);
 filter: blur(25px);
 background: #f7ba2b;
 background: var(--background);
 transition: opacity .5s;
}
.card2 .title {
 font-weight: bold;
 letter-spacing: .1em;
}


.card2:hover::after {
 opacity: 0;
}

.card2:hover .card-info {
 color: #f80808;
 transition: color 1s;
}
.card3 {
 --background: linear-gradient(to left, #03f303 0%, #07d5f0 100%);
 width: 900px;
 height: 400px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: rgba(0, 0, 0, 0.5);
 
 position: relative;
 z-index: 1;
 margin-top: 80px;
 margin-left: 200px;
}

.card3::after {
 position: absolute;
 content: "";
 top: 30px;
 left: 0;
 right: 0;
 z-index: -1;
 height: 100%;
 width: 100%;
 transform: scale(0.8);
 filter: blur(25px);
 background: #f7ba2b;
 background: var(--background);
 transition: opacity .5s;
}
.card3 .title {
 font-weight: bold;
 letter-spacing: .1em;
}


.card3:hover::after {
 opacity: 0;
}

.card3:hover .card-info {
 color: #f80808;
 transition: color 1s;
}
.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background: transparent; 
}

.images img {
  width: 190px;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  margin-left:10px;
  margin-top: 20px;
}

.button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
  margin-left:400px;
  margin-top:100px;
  width: 150px;
  height: 50px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.button span {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}

.button:hover::before {
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.button:hover:after {
  opacity: 1;
}














