*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
  gap: 90px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


.card1 {
 --background: linear-gradient(to left, #f50202 0%, #f51773 100%);
 width: 900px;
 height: 400px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: #f7ba2b;
 background: var(--background);
 position: relative;
 z-index: 1;
 margin-top: 80px;
 margin-left: 200px;
}

.card1::after {
 position: absolute;
 content: "";
 top: 30px;
 left: 0;
 right: 0;
 z-index: -1;
 height: 100%;
 width: 100%;
 transform: scale(0.8);
 filter: blur(25px);
 background: #f7ba2b;
 background: var(--background);
 transition: opacity .5s;
}

.card-info {
 --color: #181818;
 background: var(--color);
 color: var(--color);
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 overflow: visible;
 border-radius: .7rem;
}

.card1 .title {
 font-weight: bold;
 letter-spacing: .1em;
}


.card1:hover::after {
 opacity: 0;
}

.card1:hover .card-info {
 color: #f80808;
 transition: color 1s;
}
.card2 {
 --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
 width: 900px;
 height: 400px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: #f7ba2b;
 background: var(--background);
 position: relative;
 z-index: 1;
 margin-top: 80px;
 margin-left: 200px;
}

.card2::after {
 position: absolute;
 content: "";
 top: 30px;
 left: 0;
 right: 0;
 z-index: -1;
 height: 100%;
 width: 100%;
 transform: scale(0.8);
 filter: blur(25px);
 background: #f7ba2b;
 background: var(--background);
 transition: opacity .5s;
}
.card2 .title {
 font-weight: bold;
 letter-spacing: .1em;
}


.card2:hover::after {
 opacity: 0;
}

.card2:hover .card-info {
 color: #f80808;
 transition: color 1s;
}
.card3 {
 --background: linear-gradient(to left, #03f303 0%, #07d5f0 100%);
 width: 900px;
 height: 400px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: #f7ba2b;
 background: var(--background);
 position: relative;
 z-index: 1;
 margin-top: 80px;
 margin-left: 200px;
}

.card3::after {
 position: absolute;
 content: "";
 top: 30px;
 left: 0;
 right: 0;
 z-index: -1;
 height: 100%;
 width: 100%;
 transform: scale(0.8);
 filter: blur(25px);
 background: #f7ba2b;
 background: var(--background);
 transition: opacity .5s;
}
.card3 .title {
 font-weight: bold;
 letter-spacing: .1em;
}


.card3:hover::after {
 opacity: 0;
}

.card3:hover .card-info {
 color: #f80808;
 transition: color 1s;
}



